.ClarificationPage {
  width: 289px;
  height: 209px;
  background: white;
  border-radius: 6px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.ClarificationPage-cont1 {
  width: 289px;
  height: 38px;
  align-self: stretch;
  background: #f9f9f9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px rgba(58, 53, 65, 0.12) solid;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.ClarificationPage-cont1-b {
  flex: 1 1 0;
  height: 38px;
  padding-left: 11px;
  padding-right: 11px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.ClarificationPage-cont1-c {
  flex: 1 1 0;
  height: 13px;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: flex;
}
.ClarificationPage-cont1-d {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.ClarificationPage-cont1-text {
  color: rgba(58, 53, 65, 0.87);
  font-size: 10px;
  font-family: Orbitron;
  font-weight: 400;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}
.ClarificationPage-Image {
  width: 18px;
  height: 18px;
  padding: 5.25px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.ClarificationPage-Image-1 {
  width: 18px;
  height: 18px;
  /* border: 1px black solid; */
}

/* sec - 2 */
.ClarificationPage-cont2 {
  align-self: stretch;
  height: 172px;
  width: 289px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  border: 1px rgba(58, 53, 65, 0.12) solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  background-color: pink;
}
.ClarificationPage-cont2-a {
  width: 269px;
  height: 98px;
  background-color: greenyellow;
  align-self: stretch;
  padding: 10px;
  border-left: 1px rgba(58, 53, 65, 0.12) solid;
  border-right: 1px rgba(58, 53, 65, 0.12) solid;
  border-bottom: 1px rgba(58, 53, 65, 0.12) solid;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  overflow-y: auto;
}
.ClarificationPage-cont2-a::-webkit-scrollbar {
  width: 0px;
}

.ClarificationPage-cont2-a::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.ClarificationPage-cont2-a::-webkit-scrollbar-track {
  background-color: transparent;
}
.ClarificationPage-cont2-b {
  flex: 1 1 0;
  height: 98px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.ClarificationPage-cont2-c {
  flex: 1 1 0;
  height: 98px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}
.ClarificationPage-cont2-Text {
  flex: 1 1 0;
  color: #080808;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

/* button */
.ClarificationPage-btn {
  width: 249px;
  height: 31px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  display: inline-flex;
}
.ClarificationPage-btn-1 {
  flex: 1 1 0;
  height: 31px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  border-radius: 5px;
  border: 1px #356f9f solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
}
.ClarificationPage-btn-1-text {
  color: #356f9f;
  font-size: 12px;
  font-family: Orbitron;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}
.ClarificationPage-btn-2 {
  flex: 1 1 0;
  height: 31px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  background: #356f9f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
}
.ClarificationPage-btn-2-text {
  color: white;
  font-size: 12px;
  font-family: Orbitron;
  font-weight: 600;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}
