@keyframes fadeInScaleUp {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .popup-enter {
    animation: fadeInScaleUp 0.3s ease-out forwards;
  }
  
  .overlay {
    position: absolute;
    width: 325px;
    height: 400px;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    cursor: pointer;
  }
  
  .frame23 {
    position: absolute;
    top: 150px;
    left: 15px;
    width: 289px;
    height: 209px;
    background-color: white;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 101;
  }
  
  .tableHeader,
  .tableHeaderInner {
    align-self: stretch;
    background: #f9f9f9;
    border-radius: 6px 6px 0 0;
    border: 1px rgba(58, 53, 65, 0.12) solid;
    display: inline-flex;
  }
  
  .datagridheader,
  .datagridheaderInner {
    flex: 1;
    height: 38px;
    padding: 10px 11px;
    display: flex;
    align-items: center;
  }
  
  .container,
  .containerInner {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .typography,
  .typographyInner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .typographyBody1,
  .typographyBody1Inner {
    color: rgba(58, 53, 65, 0.87);
    font-size: 10px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    word-wrap: break-word;
  }
  
  .xnixLineCross {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 5.25px;
  }
  
  .vector47 {
    width: 7.5px;
    height: 7.5px;
    border: 1px black solid;
  }
  
  .frame16,
  .frame18,
  .frame25,
  .frame24,
  .frame27 {
    display: flex;
    flex-direction: column;
  }
  
  .frame17 {
    width: 289px;
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  
  .button {
    flex: 1;
    height: 31px;
    padding: 8px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .button.cancel {
    border: 1px #356f9f solid;
    color: #356f9f;
  }
  
  .button.regenerate {
    background: #356f9f;
    color: white;
  }

  .text1{
    color: #356F9F; font-size: 12px; font-family: Orbitron; font-weight: 600; letter-spacing: 0.96px; word-wrap: break-word
  }
  
  .button1{
    flex: 1 1 0; height: 31px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; border-radius: 5px; border: 1px #356F9F solid; justify-content: center; align-items: center; gap: 10px; display: flex
  }

  .text2{
    color: white; font-size: 12px; font-family: Orbitron; font-weight: 600; text-transform: capitalize; letter-spacing: 0.96px; word-wrap: break-word
  }
  
  .button2{
    flex: 1 1 0; height: 31px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: #356F9F; border-radius: 5px; justify-content: center; align-items: center; gap: 10px; display: flex
  }
