.cvButtondiv {
  width: 289px;
  /* height: 268px; */
  height: 350px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
  margin-top: 8px;

  /* margin-top: 75px; */
  /* background-color: greenyellow; */
  /* margin-top: 70px; */
  /* margin: auto; */
}

#animationCV {
  margin-top: 50%;
  margin-left: 0%;
}
